body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    text-align: center;
    background: linear-gradient(to right, rgb(0, 81, 255) 20%, yellow 50%, rgb(6, 202, 6) 80%);
    color: rgb(15, 11, 2);
    padding: 20px;
}

main {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

.filters {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

/* Responsive */
@media (max-width: 600px) {
    form {
        flex-direction: column;
    }
}