div {
    padding: 30px;
    border: 2px solid black;
    margin: 10px;
}

#parent {
    background-color:  lightblue;
}

#child {
    background-color: lightgreen;
}

#grandparent {
    background-color: lightcoral;
}

ul {
    margin-top: 30px;
}

li {
    cursor: pointer;
    padding: 5px;
}